{% extends "_base.html.jinja" %} {% block content %}
<div class="whitebox">
  <h1>Stream and Wetland Restoration Projects</h1>
  <h2>
    Stream restoration analysis at Carroll Marty Disc Golf Course (NREM.555X)
  </h2>
  <div class="flex">
    <div class="col2">
      <img src="/photos/stream2.jpg" style="width: 25vw" />
    </div>
    <div>
      <p>
        I took a graduate-level stream restoration class with a field-based lab.
        We spent the semester working in teams that spanned many disciplines to
        assess the condition and restoration potential of a stream in a local
        disc golf course. I co-authored the report below to summarize our
        analysis of one reach of the stream. Considering the adjascent reaches
        analyzed by other teams, the class discussed restoration potential and
        submitted a cumulative report to the park manager.<br /><br /><a
          href="https://drive.google.com/file/d/1dqhhLtJsPMJ5Qli2ftX5RVLQkvkjLRCD/view?usp=sharing"
          target="_blank"
          >Reach 1 Final Report: Assesment of Existing Conditions</a
        ><br /><br /><a
          href="https://drive.google.com/file/d/1JNtxEr_spJjqVh2xOJ0ZNmmDz9k5QBhn/view?usp=sharing"
          target="_blank"
          >Site assessment report and restoration concept: Worrell Creek at
          Carroll Marty Disc Golf Course, Ames, IA</a
        >
      </p>
    </div>
  </div>

  <h2>Wetland restoration analysis in Cowling Arboretum (GEOL.210)</h2>
  <div class="flex">
    <div class="col2">
      <img src="/photos/stream4.jpg" style="width: 25vw" />
    </div>
    <div>
      <p>
        In the lab portion of my geomorphology class, the class spent two weeks
        surveying an area of Carleton's Cowling Arboretum. Our goal was to
        analyze the geomorphological features of the region to determine whether
        it was an appropriate area for a wetland restoration project, as
        suggested by arboretum management. As a project manager, I coordinated
        specialized teams and co-authored the introduction, summaries, and
        conclusion of our cumulative report. <br /><br /><a
          href="https://drive.google.com/file/d/1KAIl43sQxWj1ZBfHhmgSW4vmQF4X7Yf1/view?usp=sharing"
          target="_blank"
          >The Plausibility of Wetland Restoration in Cowling Arboretum:
          Geomorphological Analysis</a
        >
      </p>
    </div>
  </div>

  <h2>Related class projects</h2>
  <h3>Mapping terraces and stream channels (GEOL.579)</h3>
  <p style="margin-left: 40px">
    Mapping excercises in Iowa and Minnesota <br /><br /><img
      src="/photos/streammap.JPG"
      style="width: 30vw"
    />&nbsp;<img src="/photos/terraces.jpg" style="width: 22.6vw" />
  </p>

  <h3>
    Survey of the hydraulic geometry at a reach of Spring Creek, Northfield, MN
    (GEOL.210)
  </h3>
  <p style="margin-left: 40px">
    Takaways were a topographic map, lateral cross sections of water depth and
    velocity, and a report<br /><br />
  </p>
  <div class="flex">
    <div class="col2" style="margin-left: 0vw">
      <img src="/photos/SpringCreekXC1.jpg" style="width: 25vw" /><br />
      <img src="/photos/GeomorphicMap.jpg" style="width: 25vw" />
    </div>
    <div>
      <p style="margin-left: 40px">
        <img src="/photos/stream.jpg" style="width: 49%" />
        <img src="/photos/stream3.jpg" style="width: 49%" />
      </p>
    </div>
  </div>
</div>
{% endblock %}
