{% extends "_base.html.jinja" %} {% block content %}
<div class="whitebox">
  <h1>Research</h1>

  <a href="WRST.html"><h2>Wrangell-St. Elias National Park Glaciology and Geology</h2></a>
  <p>Supervisor: Dr. Mike Loso</p>
  <h3>Annual glacier monitoring, Malaspina Glacier research, and surficial geology mapping</h3>
  <p>
    I began a year-long Scientist in Parks position working with Mike Loso at Wrangell-St. Elias National Park in May 2021. I work at the park headquarters in Copper Center, but I have spent significant time in Kennicott and Malaspina Glacier as well.
  </p>
  
  <a href="MSThesis.html"><h2>Glacier sliding, Iowa State University</h2></a>
  <p>Advisor: Dr. Neal Iverson</p>
  <h3>Ring-shear glacier sliding experiments</h3>
  <p>
    Using a ring-shear device at Iowa State University, I studied the mechanics
    of subglacial debris-bed friction. My experiments tested and expanded upon
    Bernard Hallet's theory (1979, 1981), which states that debris-bed friction
    is a product of bed-normal ice velocity and is independent of total normal
    stress applied by the ice. These experiments are the foundation of my
    master's thesis.
  </p>
  <h3>Surveys of glacier forefields in the Canadian Rockies and Swiss Alps</h3>
  <p>
    I spent two field seasons in 2017 and 2018 on a team creating DEMs of
    glacier forefields using LiDAR and structure-from-motion. I also measured
    characteristics of the rock surface like rock step geometry and striation
    orientation to analyze the geometry of subglacial cavities.
  </p>
  <a href="keck.html"
    ><h2>
      Glaciovolcanics in Iceland, Carleton College and Keck Geology Consortium
    </h2></a
  >
  <p>Advisors: Meagen Pollock, Ben Edwards, Cam Davidson</p>
  <h3>
    Vesicle Distribution in Glaciovolcanic Pillow Lava from Undirhlíðar,
    Southwest Iceland
  </h3>
  <p>
    During my senior year at Carleton College, I had the great opportunity to
    participate in a Keck Geology Consortium project, which is designed to
    provide research experiences to undergraduate students from the 18
    participating colleges and universities. I joined a project lead by Megan
    Pollock and Ben Edwards that involved two weeks of fieldwork in Iceland, two
    weeks of labwork at Wooster College, presenting posters at the GSA national
    fall meeting, completing a thesis in the following year, and finally
    presenting our final work at the Keck Symposium at Wesleyan University.
  </p>
</div>
{% endblock %}
