{% extends "_base.html.jinja" %}{% block backgroundimg
%}'/photos/thompsonpass.jpeg'{%endblock%} {% block content %}
<div class="whitebox">
  <h1>Wrangell-St. Elias National Park</h1>
  <p>
    I began a year-long Scientist in Parks position working with Mike Loso at
    Wrangell-St. Elias National Park in May 2021. I work at the park
    headquarters in Copper Center, but I have spent significant time in
    Kennicott and Malaspina Glacier as well.
  </p>

  <h3>Annual Glacier monitoring</h3>
  <p>
    I assist with spring and fall monitoring at Kennicott Glacier and Kahiltna
    Glacier. During each excursion, we fly to 5-6 sites up and down the glacier
    to measure accumulation or ablation at glacier stakes, dig snow pits, and
    tend to weather stations.
  </p>
  <br />
  <div style="margin-left: 20px">
    <img src="/photos/snowpit.jpeg" style="width: 33%" />
    <img src="/photos/icedrill.jpeg" style="width: 59%" />
  </div>

  <h3>Malaspina Glacier Fieldwork and Research</h3>
  <p>
    The Malaspina Glacier is an enourmus piedmont glacier in the southeastern
    corner of the park. A collaborative NPS/NSF research project was initiated
    this summer when a team of NPS, University of Alaska Fairbanks, and
    University of Arizona spent two weeks surveying the forelands and proglacial
    lakes. The goal is to quantify the timing and likelihood of catastrophic
    retreat in the event that Malaspina becomes a tidewater glacier.
  </p>
  <br />
  <div style="margin-left: 20px">
    <img src="/photos/malaspinaplane.jpeg" style="width: 33%" />
    <img src="/photos/boat.jpeg" style="width: 59%" /><br/>
    <img src="/photos/surge.jpeg" style="width: 49%" />
    <img src="/photos/sitkagi.jpeg" style="width: 49%" />
  </div>
  <br />

  <p>
    Join my public presentation on <strong>January 14th</strong> about Malaspina research hosted by the
    <a href="http://www.wise-edu.org/science-lecture-series.html"
      >WISE Science Lecture Series</a
    >. A recording will be available on their website after the event.
  </p>
  <br />
  <p>
    Listen to an a overview presented in a meeting for park staff
    <a
      href="https://drive.google.com/file/d/1Z3qSuavwCMo8nVe3fh7A8Cs8_Z1EfNh2/view?usp=sharing"
      >here</a
    >. The recording picks up some transition from the intorduction. My
    presentation begins at 0:33.
  </p>

  <h3>Surficial Geology Map</h3>
  <p>
    I will spend my first Alaskan winter sifting through IFSAR data to map
    surficial geology in the Malaspina region of the park. Maybe one day there
    will be a complete surficial geology map of the park, but we've got to start
    somewhere!
  </p>

  <h3>...and more!</h3>
  <p>
    I am assisting with the design of physical models to be used in visitor
    displays and outreach. The models will be of the Kennicott and Tyndall
    glacier valleys with removable ice surfaces from different points in history
    for comparison between different glacier types and rates of ice retreat.
  </p>
  <br />
  <p>
    Recent research has concluded that the retreat of the Grand Plateau
    Glacier will reroute the Alsek River in Glacier Bay National Park and
    Preserve. Read my synopsis here:
    <a
      href="https://www.nps.gov/articles/000/will-dry-bay-lose-the-alsek-river.htm"
      >Will Dry Bay lose its river because of glacier retreat?</a
    >.
  </p>
</div>
{% endblock %}
