{% extends "_base.html.jinja" %} {% block content %}
<div class="whitebox">
  <h1>Portfolios</h1>
  <a href="artportfolio.html"><h2>Visual Art</h2></a>
  <a href="writingprotfolio.html"><h2>Writing</h2></a>
  <a href="techportfolio.html"><h2>Technical Projects</h2></a>
</div>
{% endblock %}
