{% extends "_base.html.jinja" %} {% block content %}
<div class="whitebox">
  <h1>Writing Portfolio</h1>

  <h2>Research</h2>
  <p>
    <a
      href="https://drive.google.com/file/d/1DF4rcGtZIbX7JaN7RMLLwa-d3CjP4xSu/view?usp=sharing"
      target="_blank"
      >Master's thesis, 67 p., 2020</a
    >
  </p>
  <p style="font-size: 10pt">
    <em
      >Each chapter was reviewed and edited my my advisor, Neal Iverson. Content
      has been revised into the scale of a journal article and is in review.</em
    >
  </p>
  <br />
  <p>
    <a
      href="https://drive.google.com/file/d/1pxOMfZ84Kouq4hSDqEkzWk6fwQgs8WIu/view?usp=sharing"
      target="_blank"
      >Undergraduate thesis, 39 p., 2017</a
    >
  </p>
  <p style="font-size: 10pt">
    <em
      >Written largely independently, with review of the final draft from
      advisors. Received disinction from Carleton College.</em
    >
  </p>
  <br />
  <p>
    <a href="https://drive.google.com/file/d/13sApOuxCtiQORB2gid4bfaAzI2dlTN53/view?usp=sharing">Keck short contribution, 7 p., 2017</a>
  </p>
  <p style="font-size: 10pt">
    <em>An abbreviated version of my undergraduate thesis.</em>
  </p>
  <h2>Other</h2>
  <p>
    <a
      href="https://www.nps.gov/articles/000/will-dry-bay-lose-the-alsek-river.htm"
      target="_blank"
      >Resource Brief, 2021</a
    >
  </p>
  <p style="font-size: 10pt">
    <em
      >This is my synopsis of a research paper about the Grand Plateau
      Glacier in Glacier Bay National Park and
      Preserve. It is published on the park website.</em
    >
  </p>
  <br/>
  <p>
    <a
      href="https://drive.google.com/file/d/1DJamq7ITX7dxVtBu-lgwLSz-rz-WU8o6/view?usp=sharing"
      target="_blank"
      >News story about a pumice raft, 2 p., 2019</a
    >
  </p>
  <p style="font-size: 10pt">
    <em
      >This is the first half of a news story written for a science
      communication class. This was an unpublished excercise.</em
    >
  </p>
  <br />
  <p>
    <a
      href="https://drive.google.com/file/d/1o-0xu7Jrih7y_HMUCY5AZ4HCi-MeSSfm/view?usp=sharing"
      target="_blank"
      >The Big Moment of a Small Scale Soccer Player, 2 p., 2017</a
    >
  </p>
  <p style="font-size: 10pt">
    <em
      >Written and workshopped in a creative nonfiction writing class. Read a
      humorous account of a time my kindergarten soccer skills were put to the
      test.</em
    >
  </p>
</div>
{% endblock %}
