{% extends "_base.html.jinja" %} {% block more_scripts %}
<style>
  .container {
    position: relative;
  }
  img {
    width: 100%;
  }
  .col2 {
    width: 33%;
    margin-left: 0px;
    padding: 20px;
  }
  .overlay {
    position: absolute;
    /*top: 0;*/
    bottom: 0;
    left: 0;
    right: 0;
    height: 35%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(1, 1, 1, 0.6);
  }

  .container:hover .overlay {
    opacity: 1;
  }

  .text {
    color: white;
    opacity: 1;
    font-size: 1.4vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
</style>
{% endblock %} {% block content %}
<div class="whitebox">
  <h2>About me</h2>
  <p>
    Hi! I'm Anna, a geologist specializing in geomorphology and glaciology. I am
    fascinated by the natural world, and passionate about science that can have
    a direct impact on human lives and the environment. I absolutely love
    fieldwork, but I am also an excellent writer and presentor, and could spend
    hours engaged in spreadsheets or code.
  </p>
  <p>
    This website is a personal project (see "could spend hours engaged in
    code...") to present my work in one place for employers, collaborators,
    family, and friends. I hope you find something interesting!
  </p>

  <h2>Wondering where to start? Here are some highlights:</h2>
  <div class="flex">
    <div class="col2" style="width: 28.8%">
      <a href="Portfolios/artportfolio.html">
        <div class="container">
          <img
            src="/photos/Portfolios/page2.jpg"
            style="border-radius: 4px"
          />
          <div class="overlay">
            <div class="text">Art that I'm proud of</div>
          </div>
        </div>
      </a>
    </div>
    <div class="col2" style="width: 35.65%">
      <a href="FieldWork/index.html">
        <div class="container">
          <img src="../photos/mapscreenshot.jpg" style="border-radius: 4px" />
          <div class="overlay">
            <div class="text">An interactive map summarizing my fieldwork</div>
          </div>
        </div>
      </a>
    </div>
    <div class="col2" style="width: 38%">
      <a href="Research/MSThesis.html">
        <div class="container">
          <img src="../photos/annaandice2.jpg" style="border-radius: 4px" />
          <div class="overlay">
            <div class="text">My most recent research</div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <h2>NEWS!</h2>
  <p>
    New publication in the Journal of Geophysical Research Earth Surface
    <a
      href="https://agupubs.onlinelibrary.wiley.com/doi/abs/10.1029/2020JF005718"
      target="_blank"
    >
      <img src="../photos/JGR.png" style="width: 90%; border-radius: 4px" /></a
    ><br />
    Access
    <a
      href="https://agupubs.onlinelibrary.wiley.com/doi/abs/10.1029/2020JF005718"
      target="_blank"
    >
      here</a
    >
    or email me for a pdf.
  </p>
</div>
{% endblock %}
