{% extends "_base.html.jinja" %} {% block more_scripts %}
<style>
  .container {
    position: relative;
  }
  img {
    width: 100%;
  }
  .col2 {
    width: 33%;
    margin-left: 0px;
    padding: 20px;
  }
  .overlay {
    position: absolute;
    /*top: 0;*/
    bottom: 0;
    left: 0;
    right: 0;
    height: 35%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(1, 1, 1, 0.6);
  }

  .container:hover .overlay {
    opacity: 1;
  }

  .text {
    color: white;
    opacity: 1;
    font-size: 1.4vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
</style>
{% endblock %} {% block content %}
<div class="whitebox">
  <h2>About me</h2>
  <p>
    Hi! I'm Anna, a geologist specializing in geomorphology and glaciology. I am
    fascinated by the natural world, and passionate about science that can have
    a direct impact on human lives and the environment. I absolutely love
    fieldwork, but I am also an excellent writer and presentor, and could spend
    hours engaged in spreadsheets or code. 
  </p>
  <p>
    This website is a personal project (see "could spend hours engaged in
    code...") to present my work in one place for employers, collaborators,
    family, and friends. I hope you find something interesting!
  </p>

  <h2>Wondering where to start? Here are some highlights:</h2>
  <div class="flex">
    <div class="col2" style="width: 34%">
      <a href="Portfolios/artportfolio.html">
        <div class="container">
          <img
            src="/photos/Portfolios/page2.jpg"
            style="border-radius: 4px"
          />
          <div class="overlay">
            <div class="text">Art that I'm proud of</div>
          </div>
        </div>
      </a>
    </div>
    <div class="col2" style="width: 44%">
      <a href="Research/MSThesis.html">
        <div class="container">
          <img src="../photos/annaandice2.jpg" style="border-radius: 4px" />
          <div class="overlay">
            <div class="text">My graduate research</div>
          </div>
        </div>
      </a>
    </div>
    <div class="col2" style="width: 25%">
      <a href="Research/WRST.html">
        <div class="container">
          <img src="../photos/snowpit2.jpeg" style="border-radius: 4px" />
          <div class="overlay">
            <div class="text">NPS Alaska</div>
          </div>
        </div>
      </a>
    </div>

  </div>

  <h2>NEWS!</h2>
  <p>
    <b>January 14, 2022</b><br/>Join my upcoming public presentation about Malaspina Glacier research hosted by the
    <a href="http://www.wise-edu.org/science-lecture-series.html"
      >WISE Science Lecture Series</a
    >. A recording will be available on their website after the event.
  </p><br/><br/>
  <p><b>Glacier Bay Resource Brief</b><br/>Read my synopsis of recent research that has concluded that the retreat of the Grand Plateau
  Glacier will reroute the Alsek River in Glacier Bay National Park and
  Preserve:
  <a
    href="https://www.nps.gov/articles/000/will-dry-bay-lose-the-alsek-river.htm"
    >Will Dry Bay lose its river because of glacier retreat?</a
  >.
</p><br/><br/>
  <p>
    <b>New publication in the Journal of Geophysical Research Earth Surface</b>
    <a
      href="https://agupubs.onlinelibrary.wiley.com/doi/abs/10.1029/2020JF005718"
      target="_blank"
    >
      <img src="../photos/JGR.png" style="width: 90%; border-radius: 4px" /></a
    ><br />
    Access
    <a
      href="https://agupubs.onlinelibrary.wiley.com/doi/abs/10.1029/2020JF005718"
      target="_blank"
    >
      here</a
    >
    or email me for a pdf.
  </p>
</div>
{% endblock %}
